@charset "utf-8";

.wpadminsettings{
    margin-top: 20px;
}


.wpadminsettings .pp-row{}

.wpadminsettings .pp-col{
    display: inline-block;
    margin: 10px 0;
}

.wpadminsettings .pp-col-50{
    width: 49.50%;
}


.wpadminsettings .text-align-right{
    text-align: right;
}




.wpadminsettings .form-section{
    padding: 0 15px;
}





.wpadminsettings .nav-header,.wpadminsettings .nav-footer{
    background: #fff;
    padding: 15px 10px;

}
.wpadminsettings .nav-header{
    border-bottom: 1px solid #ddd;
}


.wpadminsettings .nav-footer{
    /*border-top: 1px solid #ddd;*/
}



.wpadminsettings .form-header{
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.wpadminsettings .form-header .submit{

}



.wpadminsettings .form-footer{
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    margin-top: 30px;
    border-top: 1px solid #ddd;
}


.wpadminsettings .form-footer .submit{

}



.wpadminsettings .submit{
    margin: 0;
    padding: 0;
}

.wpadminsettings .themeName{
    font-size: 18px;
    line-height: normal;
}
.wpadminsettings .pagename{

}
.wpadminsettings .themeVersion{
    color: #a0a5aa;
    font-style: italic;
    margin: 8px 0;
    font-size: 13px;
}



.wpadminsettings .navigation {
    width: 250px;
    float: left;
    position: sticky;
    top: 30px;
}
.wpadminsettings .navigation .nav-item{
    padding: 12px 10px;
    margin: 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 13px;
    background: #ffffff;
    display: block;
    text-decoration: none;
}

.wpadminsettings .navigation .nav-item-active{
    background: #ffffff5e;

}



.wpadminsettings .form-wrapper {
    margin-left: 251px;
    background: #fff;
}

.wpadminsettings .form-table {
    clear: none;
}




.wpadminsettings input[type="text"], .wpadminsettings textarea, .wpadminsettings select, .wpadminsettings input[type="range"], .wpadminsettings input[type="number"],.wpadminsettings .select2 {
    width: 320px;
}

.wpadminsettings .repeatable{}
.wpadminsettings .repeatable .field-list{
    margin-top: 18px;
}
.wpadminsettings .repeatable .button{

}


.wpadminsettings .repeatable .item-wrap{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}


/*addons-grid*/
.addons-grid{}
.addons-grid .item{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    background: #ddd;
    overflow: hidden;
}
.addons-grid .name{

}

.addons-grid .name a{
    margin: 10px;
    text-decoration: none;
    display: block;
    font-weight: 600;
}


.addons-grid .thumb{ }
.addons-grid .thumb img{
    width: 100%;
    height: auto;
}

/*faq-list*/

.faq-list{}
.faq-list .faq-item{
    margin: 5px 0;
}

.faq-list .faq-item.active .faq-content{
    display: block;
}
.faq-list .faq-item.active .faq-header{
    background: #ddddddbf;
}

.faq-list .faq-header{
    padding: 10px;
    background: #eee;
}
.faq-list .faq-content{
    padding: 10px;
    background: #e5e5e55e;
    display: none;
}

/*addons-grid*/

.addons-grid{}
.addons-grid .item{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    background: #eee;
    overflow: hidden;
}



.addons-grid .name{

}

.addons-grid .name a{
    margin: 10px;
    text-decoration: none;
    display: block;
    font-weight: 600;
}


.addons-grid .thumb{ }
.addons-grid .thumb img{
    width: 100%;
    height: auto;
}



/* Collapsible */

.wpadminsettings .collapsible{
    margin-bottom: 2px;
}
.wpadminsettings .collapsible .header{
    background: #eee;
    padding: 8px 10px;
}

.wpadminsettings .collapsible .header span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.wpadminsettings .collapsible .content{
    display: none;
    padding: 10px;
    background: #f1f1f1;
}


.wpadminsettings .collapsible.active .content{
    display: block;
}



.media-list{
    margin-top: 10px;
}
.media-list .item{
    width: 150px;
    display: inline-block;
    margin: 5px;
    background: #eee;
    padding: 5px;
    position: relative;
    vertical-align: top;
    min-height: 80px;
}

.media-list .item.empty .item-title{
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-37%,-50%);
    width: 100%;
}


.media-list .item .remove{
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 8px;
    background: hsl(12, 77%, 54%);
    color: #fff;
    cursor: pointer;
}


/* .link-color */

.link-color{}
.link-color .item{
    margin: 5px 0;
}

.link-color .title{
    display: inline-block;
    min-width: 130px;
}
.link-color .colorpicker{
    display: inline-block;
}


.range-input{}
.range-input input[type="number"]{
    max-width: 60px;
    display: inline-block;
}

.range-input input[type="range"]{
    max-width: 253px;
    display: inline-block;
    vertical-align: middle;
}



/*field-switch-wrapper*/

.field-switch-wrapper{
    margin-bottom: 15px;
}

.field-switch-wrapper input[type='radio']{
    display: none;
}

.field-switch-wrapper .sw-button{
    background: #eee;
    padding: 5px 15px;
    border: 1px solid #ddd;
    margin: 0;
    border-right: none;
}


.field-switch-wrapper label.checked .sw-button {
    background: #ddd;
}

.field-switch-wrapper label:last-child .sw-button{
    border-right: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.field-switch-wrapper label:first-child .sw-button{

    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}



@media screen and (max-width: 768px) {

    .wpadminsettings .pp-col-50{
        width: 100%;
    }

    .wpadminsettings .text-align-right{
        text-align: left;
    }

    .wpadminsettings .navigation {
        width: 100%;
        float: none;
        position: relative;
    }

    .wpadminsettings .form-wrapper {
        margin-left: 0;
        margin-top: 20px;
    }

}



